@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Weetell Palette */
  --wee-blue: #3b82f6;
  --alert-red: #ef4444;
  --light-blue: #dbeafe;
  --light-grey: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand), sans-serif;
  
  --color-wee-blue: var(--wee-blue);
  --color-alert-red: var(--alert-red);
  --color-light-blue: var(--light-blue);
  --color-light-grey: var(--light-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand), sans-serif;
}
